{% extends "lasvacances/layout.html" %}

{% load static %}

{% block script %}
{% endblock %}

{% block body %}

    <div class="container">
        <h4>List: {{list.name}}</h4>
        <span>From: <a class="link" href="{% url 'profile' list.author %}">{{list.author}}</a></span>
        <br><br>
        {% if user.is_authenticated %}
            {% if list.author.username == user.username %}
                    <form action="{% url 'delete_list' list.id %}" method="POST">

                        <input class="button" type="submit" value="Delete">
                    </form>
            {% endif %}
        {% endif %}
        {% for item in list_items %}
            <hr>
            Title: <a class="link" href="{% url 'suite' item.suite.id %}"><strong>{{item.suite.title}}</strong></a>
            <br>
            Address: {{item.suite.address}}
            <br>
            Details: {{item.suite.details}}
            <br>
            Price: {{item.suite.price}}
            <br>
            Rating:
            {% with rating=item.suite.ratings.first %}
                {% if rating %}
                    {{rating.rating}}
                {% else %}
                    Not rated yet.
                {% endif %}
            {% endwith %}
            <hr>
        {% empty %}
            <hr>
            List is empty.
        {% endfor %}
    </div>

{% endblock %}